/* #region general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
  background-image: url('Images/background.jpg');
}

.main-content {
  margin: 2rem 2rem 2rem;
  background-color: rgba(10, 5, 40, 0.9);
  color: white;
  padding: 1rem 1rem 1rem;
  text-align: center;
  position: relative;
}

.text {
  white-space: pre-line;
  font-size: medium;
}

.text ul {
  line-height: 75%;
}

.text li {
  list-style-type: '- ';
  list-style-position: inside;
  font-size: 90%;
  margin-left: 5%;
}

.orderedlist li {
  list-style-type: decimal;
}

.date {
  text-decoration: underline;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 2vw;
  }
}

/* #endregion */

/* #region Header */
header {
  color: white;
  display: flex;
  background-color: rgb(10, 5, 40);
  justify-content: space-around;
  padding: 1rem 0;
  align-items: center;
  font-weight: 600;
}

/* #region Header.sticky */

header.sticky {
  height: 48px;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  background-color: rgb(10, 5, 40);
  top: 0;
  padding: 0 28px;
  z-index: 1;
}

header.sticky .header-toggle {
  display: inline;
  color: white;
  font-size: 24px;
}

header.sticky .header-toggle:hover {
  cursor: pointer;
}

header.sticky .header-close {
  position: absolute;
  right: 24px;
  display: block;
  font-size: 24px;
  border-radius: 50%;
}

header.sticky .header-close:hover {
  background-color: rgb(15, 30, 80);
  cursor: pointer;
}

header.sticky .navbar {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgb(10, 5, 40);
  color: white;
  width: 60%;
  height: 100vh;
  padding: 24px 0;
  z-index: 100;
  transition: 0.5s;
  border-radius: 0 0 0 50%;
}

header.sticky .nav-list {
  display: flex;
  flex-direction: column;
}

header.sticky .nav-item {
  margin: 2rem 0;
}

header.sticky .show {
  right: 0;
}

header.sticky .home {
  font-size: 2rem;
}

/* #endregion */

.page-header {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 8px;
}

.active {
  background-color: rgb(25, 15, 70);
}

.nav-link {
  padding: 10px;
  color: #eeee;
  font-size: medium;
  font-weight: 500;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgb(15, 30, 80);
  cursor: pointer;
}

.header-toggle,
.header-close {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    height: 48px;
    justify-content: space-between;
    padding: 0 28px;
  }

  .header-toggle {
    display: inline;
    color: white;
    font-size: 24px;
  }

  .header-toggle:hover {
    cursor: pointer;
  }

  .header-close {
    position: absolute;
    right: 24px;
    display: block;
    font-size: 24px;
    border-radius: 50%;
  }

  .header-close:hover {
    background-color: rgb(15, 30, 80);
    cursor: pointer;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgb(10, 5, 40);
    color: white;
    width: 60%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
    border-radius: 0 0 0 50%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .show {
    right: 0;
  }

  .home {
    font-size: 2rem;
  }
}

/* #endregion */

/* #region Home */

.home {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

/* #endregion */

/* #region Contact */

.contact-infos {
  font-size: large;
}

.contact-infos a {
  text-decoration: underline;
}

.contact-infos a:hover {
  text-decoration: none;
  color: red;
}

@media screen and (max-width: 768px) {
  .contact-infos {
    font-size: 2.5vw;
  }
}

/* #endregion */

/* #region About */

.about-infos {
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
}

.about-infos h2, .about-infos h1 {
  text-align: center;
}

/* #endregion */

/* #region Skills */

.skills-infos {
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
}

.skills-infos h2, .skills-infos h1 {
  text-align: center;
}

/* #endregion */

/* #region Projects */

.projects-infos {
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
}

.projects-infos h2, .skills-infos h1 {
  text-align: center;
}

.project-language:hover .project-list{
  opacity: 1;
  max-height: inherit;
  border: white;
  border-radius: 10px;
}

.project-list {
  padding: 0px;
  margin: 0px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: opacity 300ms ease; 
}

/* #endregion */

/* #region Projects Pages */



/* #endregion */